html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

button {
	outline: 0;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 20px 0 0 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	width: 650px;
	margin-bottom: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 24px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	cursor: pointer;
}

/*
 * Welcome Menu
 */

.welcome-menu {
	background-color: #fff;
	left: 50%;
	top: 50%;
	text-align: center;
	padding: 10px 0 30px 0;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 700px;
	border: 1px solid #000;
}

.rules-list {
	text-align: left;
	margin: 0 0 0 100px;
}

.difficulty {
	margin: 30px 0 0 0;
}

.difficulty h3 {
	margin: 0 0 10px 0;
}

.easy-mode,
.hard-mode,
.reset-button,
.restart-button {
	color: #fff;
	text-decoration: none;
	padding: 15px 50px;
	border-style: none;
	display: inline-block;
	border-radius: 10rem;
	position: relative;
	font-size: 18px;
	cursor: pointer;
	margin: 0 15px;
	font-weight: 700;
}

.easy-mode {
	background-color: #6767c0;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.easy-mode:hover {
	background-color: #2323bd;
}

.hard-mode {
	background-color: #d35e5e;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.hard-mode:hover {
	background-color: #da1b1b;
}

.reset-button,
.restart-button {
	background-color: #48bb48;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.reset-button:hover,
.restart-button:hover {
	background-color: #108110;
}

/*
 * Styles for the deck of cards
 */

.deck {
	width: 660px;
	min-height: 660px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	-webkit-box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.502);
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.502);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 20px 0;
}

.card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.502);
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.502);
}

.hard-card {
	height: 86px;
	width: 86px;
	display: none;
}

.deck .card.open {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background: #02b3e4;
	cursor: default;
}

.deck .card.wrong {
	background: #ed4444;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
}

/* Results Modal */

.result-modal {
	left: 50%;
	top: 50%;
	border: none;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 700px;
	border: 1px solid #000;
}

.result-content {
	padding: 30px 0;
	text-align: center;
}

.result-heading {
	font-weight: 700;
}

.reset {
	width: 150px;
	height: 50px;
	margin: 0 0 20px 0;
	font-size: 17px;
	background-color: #02b3e4;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}